# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# STM32CubeIDE build outputs
Debug/
Release/
*.elf
*.map
*.list
*.su
*.cyclo

# IDE local files
.settings/
*.launch

# local temp/backup
README.local.md
FETCH_HEAD
